.container {
  height: 62px;
  background: #1890ff;
  width: 100%;
  display: flex;
}

.content {
  width: 1440px;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
  }
}
